.header.signup
  %h3 ursaMajor
  %h2 The schedule explorer and planner that stays with you for longer than a semester. 
  = form_tag '/landing', method: :post do
    %div= email_field :user, :email, autofocus: true, placeholder: "Email", :class => "input-field-top"

    %div= password_field :user, :password, autocomplete: "off", placeholder: "Password", :class => "input-field-middle"

    %div= password_field :user, :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation", :class => "input-field-bottom"

    %div= submit_tag "Sign up", :class => "user-submit"
  %hr
  = link_to new_user_session_path do
    Sign in
  or try a 
  = link_to demo_path do
    demo