.landing
  %h1 Landing Page
  %p Landing Page Text
  %button
  = form_tag '/users', method: :post do

    %div= label :user, :email
    %div= email_field :user, :email, autofocus: true

    %div= label :user, :password 
    %div= password_field :user, :password, autocomplete: "off"

    %div= label :user, :password_confirmation
    %div= password_field :user, :password_confirmation, autocomplete: "off"

    %div{:class => "sign-up-submit"}>= submit_tag "Sign up"
