.landing
  %h1 new product
  %p lorem ipsum do
  %button
  = form_tag new_user_registration_path, :method => :post, :id => 'signup_form' do |f|
    = label_tag :email
    = email_field_tag :email

    = label_tag :password
    = password_field_tag :password

    = label_tag :password_confirmation
    = password_field_tag :password_confirmation

    = submit_tag "Sign up"