- @courses.each do |course|
  <br />&nbsp&nbsp{
  <br />&nbsp&nbsp&nbsp&nbsp"name": "#{course.name}",
  <br />&nbsp&nbsp&nbsp&nbsp"number": #{course.number},
  <br />&nbsp&nbsp&nbsp&nbsp"units": #{course.units},
  <br />&nbsp&nbsp&nbsp&nbsp"title": "#{course.title}",
  <br />&nbsp&nbsp&nbsp&nbsp"description": "#{course.description}"
  <br />&nbsp&nbsp},