= link_to "Plans", plans_path

= form_tag add_plan_path(session[:plan]), :method => :put do
  = label_tag :course
  = text_field_tag :course
  = submit_tag 'Add Course'

%table
  %thead
    %tr
      %th Name
      %th Units

  %tbody
  - @courses.each do |course|
    %tr
      %td= course.name
      %td= course.units
