.col-md-3
.col-md-9
  .col-md-12
    %h2= @course.name
    %h4= @course.title
    %h3 Description
    #description= @course.description
    %h3 Rules Met
    %table.table
      %thead
        %tr
          %th Rule
          %th Description
      .body
        - @course.rule_list.each do |rule|
          - begin
            - Rule.get(rule)
          - rescue
            - next
          %tr
            %td= link_to rule, display_rules_path(:rule => rule)
            %td= Rule.get(rule).description