#semesters
  .row
    .tabs Fall
    = render partial: "plans/semester", locals: {semester: 'fall1', label: "{{startYear}}", type: 'semester'}
    = render partial: "plans/semester", locals: {semester: 'fall2', label: "{{startYear+1}}", type: 'semester'}
    = render partial: "plans/semester", locals: {semester: 'fall3', label: "{{startYear+2}}", type: 'semester'}
    = render partial: "plans/semester", locals: {semester: 'fall4', label: "{{startYear+3}}", type: 'semester'}
  .row
    .tabs Spring
    = render partial: "plans/semester", locals: {semester: 'spring1', label: "{{startYear+1}}", type: 'semester'}
    = render partial: "plans/semester", locals: {semester: 'spring2', label: "{{startYear+2}}", type: 'semester'}
    = render partial: "plans/semester", locals: {semester: 'spring3', label: "{{startYear+3}}", type: 'semester'}
    = render partial: "plans/semester", locals: {semester: 'spring4', label: "{{startYear+4}}", type: 'semester'}
  .row
    .tabs Summer
    = render partial: "plans/semester", locals: {semester: 'summer1', label: "{{startYear+1}}", type: 'semester'}
    = render partial: "plans/semester", locals: {semester: 'summer2', label: "{{startYear+2}}", type: 'semester'}
    = render partial: "plans/semester", locals: {semester: 'summer3', label: "{{startYear+3}}", type: 'semester'}
    = render partial: "plans/semester", locals: {semester: 'summer4', label: "{{startYear+4}}", type: 'semester'}