.col-md-3.col-sm-3.col-xs-3.gridItem(data-drop="true" data-ng-model="#{semester}" data-jqyoui-options="{accept:'.btn-draggable:not([data-ng-model=#{semester}])'}" jqyoui-droppable="{multiple:true}" class="#{type}")
  .caption 
    .gridLabel
      #{label}
    %a.fa.fa-cog(data-ng-click="semesterSettings('#{semester}')")
    .btn.btn-primary.btn-draggable(data-ng-click="courseDisplay(course.id)" data-ng-repeat="course in #{semester}" data-ng-show="course.name" data-drag="{{course.drag}}" data-jqyoui-options="{revert: 'invalid'}" data-ng-model="#{semester}" jqyoui-draggable="{onStart: 'startDragging', index: {{$index}},animate:true}")
      {{course.name}}
    .units(class="#{type}") {{#{semester}.units}} units