.div(data-ng-controller="PlanDetailCtrl" data-ng-intro-options="IntroOptions" data-ng-intro-method="startIntro" data-ng-intro-autostart="#{!signed_in?}")
  / .col-md-2.col-sm-2
  .col-md-2
    - if @demo
      %h2.plan-name= @plan.name
    - else
      %h2.plan-name= best_in_place @plan, :name, type: :input, :activator => "#edit#{@plan.id}"
      %a.btn-link.edit-plan-name{id: "edit#{@plan.id}"}
        %i.fa.fa-pencil.pencil-icon
    = render 'plans/leftColumn'
  / .col-md-10.col-sm-10
  .col-md-10
    / .col-md-8.col-sm-8
    .col-md-8
      %br
      = render 'plans/courseModals'
      = render 'plans/semesterGrid'
    / .col-md-4.col-sm-4
    .col-md-4
      %br
      = render 'plans/rules'
