.div(data-ng-controller="PlanDetailCtrl" data-ng-intro-options="IntroOptions" data-ng-intro-method="startIntro" data-ng-intro-autostart="#{!signed_in?}")
  .col-md-2.col-sm-2(cg-busy="{promise:coursePromise,message:'Loading Courses'}")
    - if @demo
      %h2.plan-name.ellipsis= @plan.name
    - else
      %h2.plan-name.ellipsis= best_in_place @plan, :name, type: :input, :activator => "#edit#{@plan.id}"
      %a.btn-link.edit-plan-name{id: "edit#{@plan.id}"}
        %i.fa.fa-pencil.pencil-icon
    = render 'plans/leftColumn'
  .col-md-10.col-sm-10
    .col-md-8.col-sm-8(cg-busy="{promise:planPromise,message:'Loading Plan'}")
      %br
      = render 'plans/course_modals'
      = render 'plans/semester_grid'
    .col-md-4.col-sm-4
      %br
      #majors
        %select(data-ng-model="currentMajor")
          %option(data-ng-repeat="major in majors" value="{{major}}") {{major}}
      = render 'plans/rules'
