%div(data-ng-controller="PlanDetailCtrl")
  .row
    .left-column-container.column.col-md-2(data-ng-controller="CourseListCtrl")
      %h3.text-center Add Course
      %input(data-ng-model="query" id="query" class="form-control search-bar" type="text" placeholder="Type course name..." name= "search_query" value="#{session[:search_query]}" autocomplete="off")
      .btn.btn-droppable(data-ng-repeat="course in courses | limitTo:4" data-drop="true" data-ng-model='courses' data-jqyoui-options="{accept:'.btn-draggable:not([data-ng-model=courses])'}" jqyoui-droppable="{index: {{$index}}}")
        .btn.btn-info.btn-draggable(data-drag="{{course.drag}}" data-jqyoui-options="{revert: 'invalid'}" data-ng-model="courses" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}" data-ng-hide="!course.name")
          {{course.name}}
      %br
      %h4.text-center Backpack
      .thumbnail#backpack.col-md-1(data-drop="true" data-ng-model='backpack' data-jqyoui-options="{accept:'.btn-draggable:not([data-ng-model=backpack])'}" jqyoui-droppable="{multiple:true}")
        .caption
          .btn.btn-info.btn-draggable(data-ng-repeat="course in backpack" data-ng-show="course.name" data-drag="{{course.drag}}" data-jqyoui-options="{revert: 'invalid'}" data-ng-model="backpack" jqyoui-draggable="{index: {{$index}},animate:true}")
            {{course.name}}
      %h4.text-center Garbage
      .thumbnail#garbage.col-md-2(data-drop="true" data-ng-model='garbage' data-jqyoui-options="{accept:'.btn-draggable:not([data-ng-model=garbage])'}" jqyoui-droppable="{multiple:true}")
        .caption
          .btn.btn-info.btn-draggable(data-ng-repeat="course in garbage" data-ng-show="course.name" data-drag="{{course.drag}}" data-jqyoui-options="{revert: 'invalid'}" data-ng-model="garbage" jqyoui-draggable="{index: {{$index}},animate:true}")
            {{course.name}}
    .right-column-container.column.container.col-md-10
      %h2.text-center= "Plan: #{@plan.name}"
      = render partial: 'semesterGrid'
    = render partial: 'rules'
