%div(data-ng-controller="PlanDetailCtrl")
  .row#shift
    .left-column-container.column.col-md-2
      %h2.plan-name= "#{@plan.name}"
      = render 'plans/leftColumn'
    .right-column-container.column.container.col-md-10
      %br
      %br
      = render 'plans/courseModals'
      = render 'plans/semesterGrid'
      = render 'plans/rules'
