%div(data-ng-controller="PlanDetailCtrl")
  .row#shift
    .left-column-container.column.col-md-2.plan-name-text
      - if @demo
        %h2.plan-name= @plan.name
      - else
        .plan-name
          %h2= best_in_place @plan, :name, type: :input, :activator => "#edit#{@plan.id}"
        %a.btn-link{id: "edit#{@plan.id}"}
          %i.fa.fa-pencil.pencil-icon
      = render 'plans/leftColumn'
    .right-column-container.column.container.col-md-10
      %br
      %br
      = render 'plans/courseModals'
      = render 'plans/semesterGrid'
      = render 'plans/rules'
