%div(data-ng-controller="PlanDetailCtrl")
  .row#shift
    .left-column-container.column.col-md-2.plan-name-text
      - if signed_in?
        %h2.plan-name= best_in_place @plan, :name, type: :input
      - else
        %h2.plan-name= @plan.name
      = render 'plans/leftColumn'
    .right-column-container.column.container.col-md-10
      %br
      %br
      = render 'plans/courseModals'
      = render 'plans/semesterGrid'
      = render 'plans/rules'
