#main-menu.navbar

  .navbar-header
    %button.navbar-toggle{:type => "button", "data-toggle" => "collapse", "data-target" => ".navbar-collapse"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar

    .menu-text
      = link_to "ursaMajor", "/", :class => "home-link"

  .navbar-collapse.collapse
    %ul{:class => "nav navbar-nav navbar-right main-navigation"} 

      %li{:class => "tab"}>
        = link_to courses_path do
          %p Courses

      %li{:class => "tab"}>
        = link_to demo_path do
          %p Demo

      - if signed_in?

        %li{:class => "tab"}>
          = link_to plans_path do
            %p Plans

      %li{:class => "tab"}>
        = link_to rules_path do
          %p Rules

      %li{:class => "tab"}>
        = link_to contact_path do
          %p Contact

      - if signed_in?
        %li{:class => "tab"}>
          = link_to "Profile", edit_user_registration_path

        %li{:class => "tab"}>
          = link_to "Sign out", destroy_user_session_path, :method => :delete

      - else
        %li{:class => "tab account"}>
          = link_to landing_path do
            %p Sign up

        %li{:class => "tab account"}>
          = link_to new_user_session_path do
            %p Log In